<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f34033b5-3bfe-44ee-a376-b3d58e147852/resourceGroups/ReactTest/providers/Microsoft.Web/sites/reactserver</ResourceId>
    <ResourceGroup>ReactTest</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://reactserver-d0gpckf8fterafhx.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fac9ea33-4cea-47b8-adfa-ff34f217d7d4</ProjectGuid>
    <PublishUrl>https://reactserver-d0gpckf8fterafhx.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfaRNiHlJGkeBGIOSqNLlEwAAAAACAAAAAAADZgAAwAAAABAAAACjCmUCXSy377iaNrx+cpmtAAAAAASAAACgAAAAEAAAAGvxj6o2lXJH0Ep40a5qA4sYAAAAQm8KY3TPpSCTz4skCxwf7WBLddIS4fdSFAAAAJrbGIcP9Vp9kyX16zSUXq76E3po</EncryptedPassword>
    <History>False|2024-11-09T07:24:19.5197696Z||;False|2024-11-09T12:53:24.8144139+05:30||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>