################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reactappsample.client/obj
/ReactAppSample.Server/bin
/ReactAppSample.Server/obj
